<div ng-include="'components/navbar/navbar.html'"></div>
<div layout="row" flex>
    <md-sidenav flex="20" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
      <md-content  role="navigation" class="md-default-theme">
      <ul>
          <li class="parent-list-item">
              <h2 class="menu-heading md-subhead">
              Actions
              </h2>
          </li>
          <li>

              <md-button ng-click="addOrg()">Add Org</md-button>
          </li>
          <li>
              <md-button ng-click="logOrg()">Log Orgs</md-button>
          </li>
          <li>
              <div flow-init flow-file-added="profileAdded( $file, $event, $flow )">
                <md-button flow-btn>Add Profile</md-button>
              </div>
          </li>

          <li class="parent-list-item">
              <h2 class="menu-heading md-subhead">
                Orgs
              </h2>
              <ul>
                  <li ng-repeat="org in orgs | orderBy : 'identity.username'">
                    <md-button ng-click="org.profiles.list()">{{org.identity.username}}</md-button>
                    <ul>
                      <li ng-repeat="profile in org.profiles | orderBy : 'fullName'">
                        <md-button ng-click="profile.get()">
                          {{profile.fullName}}
                        </md-button>
                      </li>
                    </ul>
                  </li>
              </ul>
          </li>
      </ul>
      </md-content>
    </md-sidenav>
  <div ng-include="'app/profileTable/profileTable.html'" flex=""></div>
</div>
