<md-data-table-toolbar>
  <h2 class="md-title">Field Permissions</h2>
</md-data-table-toolbar>
<md-radio-group ng-model="defaultApp">
<md-data-table-container>
  <table md-data-table>
    <thead md-order="order">
      <tr>
        <th order-by="field">Field</th>
        <th order-by="editable">Editable</th>
        <th order-by="readable">Readable</th>
      </tr>
    </thead>
    <tbody>
    	
		<tr ng-repeat="row in ngModel | orderBy : order">
	        <td>{{row.field}}</td>
	        <td>
				<md-switch class="md-primary" md-no-ink="" aria-label="visible" ng-true-value="'true'" ng-model="row.editable"/>	        
			</td>
			<td>
				<md-switch class="md-primary" md-no-ink="" aria-label="visible" ng-true-value="'true'" ng-model="row.readable"/>
			</td>
	    </tr>
      	
    </tbody>
    
  </table>
</md-data-table-container>
</md-radio-group>