<div layout="column" layout-fill  ng-repeat="(t, settings) in settingGroups">
        
        <md-toolbar class="dropdown" layout="row" ng-click="loading[t] = !loading[t]">

          <div class="md-toolbar-tools">
            <h3>
              <span>{{profileSettings[t].title}}</span>
            </h3>
            <span flex=""></span>
            <md-progress-circular class="md-accent" ng-if="loading[t] && !show[t]" md-diameter="24" md-mode="indeterminate"></md-progress-circular>
            <md-button class="md-icon-button" aria-label="Show">
              <md-icon ng-if="!show[t]" md-svg-icon="bower_components/material-design-icons/navigation/svg/production/ic_expand_more_48px.svg"></md-icon>
              <md-icon ng-if="show[t]" md-svg-icon="bower_components/material-design-icons/navigation/svg/production/ic_expand_less_48px.svg"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <div class="setting-group" ng-if="show[t]">
          <profile-setting  setting-type="{{t}}" settings="settings" profs="profs"></profile-setting>
        </div>
        
</div>